.focusable:before, a:before {
    content: "\a0";
    display: block;
    border: transparent solid 0;
    /*transition: border-color 50ms;*/
    margin: -2px;
    pointer-events: none;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.focusable:focus:before, a:focus:before {
    z-index: 1;
    border-color: rgb(155 203 255);
    border-width: 3px;
}

